$color-body:#F8F8F8;
$color-principal:#3B55E6;

//colores de degradado
$color-degra:#3285f1;
$color-degradados:#2C80EC;
$color-blanco:#ffff;
$color-gris:rgb(66, 66, 66);
$color-complementario:#fdc751;
$color-footer:#2e2e2e;
$color-menu:#3b55e6d7;